.card {
  background-color: transparent;
}
.card-body {
  background: rgba(255, 255, 255, 0.07);
  color: white;
}

.badge {
  background-color: #6394f8;
  border-radius: 100px;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: top;
}