@import '../../../../../../content/scss/theme.scss';

.shopping-breadcrumb {
  padding: 0.8rem 0;
  gap: 0.3rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.breadcrumb-separator {
  user-select: none;
}

a {
  color: #222222;
  text-decoration: none;

  &:hover {
    text-decoration: underline #222222;
  }
}

.category-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.result-number {
  font-size: 1rem;
  font-weight: 400;
}

.filter-button-container {
  position: relative;
}

.filter-button {
  display: flex;
  position: relative;
  min-height: 3rem;
  border-radius: 0.25rem;
  border: 1px solid $color-shopping-border;
  text-align: left;
  padding: 0.25rem 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  background: #fff;
}

.filter-button-title {
  font-size: 0.75rem;
  transition: font-size .5s;
  color: #8b91a1;
}

.active-filter {
  display: flex;
  align-items: center;
  position: relative;
  color: #0c193a;
  transition: color 2s;
  margin-left: 0;
  font-size: 15px;
  padding: 0;
}

.filter-choices {
  position: absolute;
  display: block;
  flex-direction: column;
  width: 250px;
  min-height: 3rem;
  max-height: 200px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid $color-shopping-border;
  list-style-type: none;
  margin-top: 0.25rem;
  box-sizing: border-box;
  z-index: 500;
}

.filter-choice {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  min-height: 3rem;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  z-index: 500;

  &:hover {
    background-color: #edf2f3;
  }
}

.selected-choice {
  font-weight: bold;
  background-color: #edf2f3;
}