<div class="d-flex flex-column h-100">
  <div class="d-flex flex-column flex-grow-1 overflow-auto">
    <div class="header-container">
      <jhi-shopping-header></jhi-shopping-header>
    </div>
    <div class="main-container">
      <jhi-shopping-breadcrumb></jhi-shopping-breadcrumb>
      <div class="filter-and-items-container shopping-container d-flex flex-row">
        <div class="filter-container" *ngIf="screenWidth >= 600">
          <ng-container *ngTemplateOutlet="template_filter"></ng-container>
        </div>
        <div class="items-container">
          <jhi-shopping-articles></jhi-shopping-articles>
        </div>
      </div>
      <jhi-shopping-footer></jhi-shopping-footer>
    </div>
  </div>

  <div class="fixed-filter-button-container" *ngIf="screenWidth < 600">
    <button class="btn blue-shopping-btn fixed-filter-button d-flex align-items-center justify-content-center" (click)="toggleFilters()">
      <img src="../../../../../content/images/showcase/shopping/filter.svg" alt="filtre" height="20px"/>
      <div>Filtres</div>
    </button>
  </div>

  <div *ngIf="screenWidth < 600">
    <div class="fixed-filter-popup" [class.display-none]="!showFilters">
      <div class="fixed-filter-header d-flex align-items-center justify-content-end">
        <em class="fa-solid fa-times cursor" style="font-size: 1.5rem" (click)="closeFilters()"></em>
      </div>
      <ng-container *ngTemplateOutlet="template_filter"></ng-container>
    </div>
  </div>

</div>

<ng-template #template_filter>
  <jhi-shopping-filter></jhi-shopping-filter>
</ng-template>