@import '../../../../../../content/scss/theme.scss';

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  min-height: 500px;
  border-radius: 0.4rem;

  .article {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    padding: 1rem 0 1rem 1rem;
    background-color: #fff;
    border-radius: 0.4rem;
    border: solid 1px hsl(0, 0%, 95%);
    box-shadow: 0 0 0.2rem 0.1rem $color-shopping-shadow;
    transition: all 0.2s;

    &:hover {
      transition: all 0.2s;
      box-shadow: 0 0 0.2rem 0.2rem $color-shopping-shadow;
    }
  }

  .article-image {
    grid-area: article-image;
    height: 120px;
    width: 120px;
    transition: all .2s ease;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .article-delivery {
    grid-area: article-delivery;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #5c955c;
    font-size: 15px;
  }

  .article-info {
    grid-area: article-info;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .article-name {
      line-height: 26px;
      font-family: Microsoft JhengHei UI, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
      font-weight: 600;
      font-size: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .article-description {
      color: #919191;
      font-size: 13px;
      line-height: 1.4em;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-family: Microsoft JhengHei UI, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    }
  }

  .article-rating {
    grid-area: article-rating;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .number-of-ratings {
      font-size: 14px;
    }
  }

  .article-price-stock {
    width: 160px;
    grid-area: article-price-stock;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Segoe UI", Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    border-left: 1px solid $color-shopping-shadow;

    .article-price {
      font-weight: 600;
      font-size: 26px;
      color: #dc0000;
    }

    .article-stock {
      font-weight: 500;
      font-size: 16px;
    }

    .no-stock {
      color: #454545;
    }

    .low-stock {
      color: #ef9c00;
    }

    .in-stock {
      color: #5c955c;
    }
  }

  .article-grid {
    display: grid;
    grid-template-columns: 2fr 14fr 3fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas:
    "article-image article-info article-price-stock"
    "article-image article-info article-price-stock"
    "article-image article-rating article-price-stock";
    column-gap: 1rem;
  }
}

.article:hover .article-image {
  transform: scale(1.07);
}

.article:hover .article-name {
  transition: color 0.2s;
  color: $color-shopping-primary;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.no-articles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  .no-articles-text {
    font-size: 1.2rem;
  }
}

.block-ui-wrapper .block-ui-spinner > div {
  background-color: red !important;
}

::ng-deep {
  .block-ui-spinner {
    top: 50% !important;
  }

  .block-ui-wrapper {
    background: rgba(0, 0, 0, 0.20) !important;
  }
}

@keyframes darkening {
  0% {
    background-color: red;
  }
  100% {
    background-color: darkred;
  }
}

.block-ui-wrapper .block-ui-spinner > div {
  background-color: red !important;
  animation: darkening 3s infinite; /* Modifiez la durée (3s) en fonction de vos préférences */
}

@media (max-width: $responsive-shopping-mobile) {
  .articles-container {
    gap: 0;

    .article {
      padding: 0.5rem 0 0.5rem 0.5rem;
      border-radius: 0;
      border: none;

      border-bottom: solid 1px $color-shopping-border;
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }

      .article-grid {
        grid-template-columns: 2fr 16fr 3fr;
        grid-template-areas:
        "article-image article-info article-info"
        "article-image article-info article-info"
        "article-image article-rating article-price-stock";
        column-gap: 0.5rem;

        .article-image {
          height: 80px;
          width: 80px;
        }

        .article-info {
          gap: 0.25rem;

          .article-name {
            line-height: 20px;
            font-size: 16px;
            -webkit-line-clamp: 1;
          }
        }

        .article-price-stock {
          width: fit-content;
          padding-left: 0.5rem;
          justify-self: end;
          border-left: none;

          .article-price {
            font-weight: 600;
            font-size: 18px;
            color: #dc0000;
          }

          .article-stock {
            font-weight: 500;
            font-size: 12px;
          }
        }
      }
    }
  }
}