<div class="articles-container">
  <div *ngFor="let article of articles">
    <div class="article cursor d-flex flex-column">
      <div class="flex-grow-1">
        <button class="btn-favorite" [class.animate]="article.favorite" (click)="toggleFavorite(article.id)"></button>
        <div class="d-flex align-items-center justify-content-center">
          <img *ngIf="article.image" src="{{ article.image }}" alt="{{ article.name }}">
        </div>
        <h5 style="font-weight: normal">{{ article.name }}</h5>
        <div class="d-flex flex-column article-body mb-3">
          <div class="rating d-flex align-items-center" *ngIf="article.rating">
            <span *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{'full-star': i <= article.rating, 'empty-star': i > article.rating}"></span>
          </div>
          <div class="description">{{ article.description }}</div>
          <div class="d-flex justify-content-end">
            <div class="price">{{ article.price | currencyShoping }}</div>
          </div>
        </div>
      </div>
      <div class="action-buttons d-flex justify-content-between">
        <button class="btn btn-add-to-cart">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>