@import '../../../../content/scss/theme.scss';

/* ----- Variables ----- */
$img-outline: hsl(0, 0%, 30%);

.dark-mode {
  //$color-background: hsl(0, 0%, 100%);
  $color-primary: hsl(160, 33%, 65%);
  $color-secondary: hsl(0, 0%, 30%);
}

.home {
  font-family: ABCNormal, serif;
  background-color: $color-secondary;
}

.btn-contact-fixed-top {
  // todo
}

.text-cursor:after {
  content: '';
  font-size: 2.5rem;
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.catchphrase {
  font-size: 4vw;
  line-height: 4vw;
  letter-spacing: -0.05em;
  font-weight: 400;
  color: $color-primary;
}

.big-text {
  font-size: 3.633vw;
  line-height: 4.642vw;
  letter-spacing: -0.05em;
  font-weight: 400;
  color: $color-primary;
}

.medium-text {
  font-size: 2vw;
  line-height: 2vw;
  letter-spacing: -0.05em;
  font-weight: 300;
  color: $color-primary;

  &.italic {
    font-style: italic;
  }
}

.small-text {
  font-size: 1vw;
  line-height: 1vw;
  letter-spacing: -0.05em;
  font-weight: 300;
  color: $color-primary;
}

.laptop-futuristic {
  max-width: 100%;
  height: auto;
  width: auto;
}

.img-keyboard {
  width: 75%;
  border-radius: 15px;
}

/* ----- Footer Section ----- */

/* ----- Global ----- */

h3 {
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: $color-primary;
}

img:not(.laptop-futuristic) {
  filter: drop-shadow(1px 1px 3px $img-outline);
}

.row.separator-top {
  padding-top: 3vw;
}

.row.separator {
  padding-top: 10vw;

  &:last-child {
    padding-bottom: 10vw;
  }
}

.product {
  $padding-x: 3rem;
  background-color: $color-secondary-light;
  border: solid hsla(162, 35%, 81%, 0.15);
  border-radius: 5px;
  color: $color-primary !important;

  .product_photo {
    position: relative;

    .photo-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -$padding-x;

      height: unset;

      background-color: $color-primary-transparent;
      border-radius: 5px;

      width: calc(100%);
    }
  }

  .product_info {
    padding: 0.8em 0;

    .title {
      h1 {
        margin-bottom: 0.1em;
        font-size: 1.5em;
        font-weight: 900;
      }

      span {
        font-size: 1em;
        font-style: italic;
      }
    }

    .description {
      clear: left;
      margin: 2em 0;

      h3 {
        margin-bottom: 1em;
        font-size: 1.2em;
      }

      ul {
        font-size: 1em;
        list-style: disc;

        li {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

.btn-header {
  font-size: 1rem;
  line-height: 18px;
  font-weight: 400;
  color: $color-primary;
  background: transparent;
  border: 0;
  flex-shrink: 0;
  text-align: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  justify-content: end;

  a {
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
  }

  .btn-header::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.12em;
    background-color: $color-link-underline;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .btn-header:hover::after,
  .btn-header:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .btn-header::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  .btn-header:hover::after,
  .btn-header:focus::after {
    transform: scale(1);
  }
}
