<div class="home w-100 h-100 text-white">
  <div class="h-100" (scroll)="handleScroll()">
    <div *ngIf="buttonDemarrerFixed === true" class="btn-contact-fixed-top">
      <jhi-contact></jhi-contact>
    </div>
    <div class="d-flex align-items-center" style="height: 120px">
      <div class="header me-5 align-items-center">
        <a class="btn-header">Qui sommes-nous ?</a>
        <a class="btn-header">À propos</a>
        <a class="btn-header">Langue</a>
        <a class="btn-header" [routerLink]="'showcase'">Exemples</a>
        <jhi-contact></jhi-contact>
      </div>
    </div>

    <div class="d-flex justify-content-between m-0">
      <div class="w-60 my-auto d-flex justify-content-end" jhiAnimation [animationType]="'fade-in-bottom'" [threshold]="0">
        <div class="catchphrase">Réalisons ensemble le site web de vos rêves !</div>
      </div>
      <div class="col-12 col-md-6 text-end">
        <img src="../../../../content/images/home/laptop-home.png" alt="laptop" class="img-keyboard" height="100%" style="object-fit: contain;"/>
      </div>
    </div>

    <div class="row separator m-0">
      <div class="col-12 col-md-6 text-center">
        <img src="../../../../content/images/home/source-code-home.png" alt="keyboard" class="img-keyboard" height="100%" style="object-fit: contain;"/>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <div class="medium-text" jhiAnimation [animationType]="'fade-in-left'" [threshold]="0">
          En tant qu'experts en développement d'applications et de sites web, nous travaillons pour créer des solutions adaptées à vos besoins.
        </div>
        <hr class="my-4"/>
        <div class="medium-text" jhiAnimation [animationType]="'fade-in-left'" [threshold]="0">
          Avec une approche personnalisée et une attention aux détails, nous nous engageons à transformer vos idées en projets numériques innovants et performants.
        </div>
        <hr class="my-4"/>
        <div class="medium-text" jhiAnimation [animationType]="'fade-in-left'" [threshold]="0">
          En collaborant avec vous, nous mettons notre passion et notre expertise au service de vos projets pour propulser votre succès en ligne.
        </div>
      </div>
    </div>
    <div class="row separator px-5 m-0">
      <div *ngFor="let developer of developers" class="col-12 col-lg-6 px-5 pb-4">
        <div class="row product h-100">
          <div class="product_photo col-4">
            <div class="photo-container">
              <div class="photo-main w-100">
                <a class="p-1 text-white" href="https://www.linkedin.com/in/mathieu-chaubet/" target="_blank">
                  <i class="fa-solid fa-share-nodes fa-lg"></i>
                </a>
                <img src="https://res.cloudinary.com/john-mantas/image/upload/v1537291846/codepen/delicious-apples/green-apple-with-slice.png" alt="green apple slice" class="w-100"/>
              </div>
            </div>
          </div>
          <div class="product_info col-8 h-100 p-3">
            <div class="title">
              <h1>{{ developer.name }}</h1>
              <span>{{ developer.jobName }}</span>
            </div>
            <div class="description">
              <h3>Diplôme</h3>
              <ul>
                <li *ngFor="let diploma of developer.diploma">{{ diploma }}</li>
              </ul>
            </div>
            <div class="description">
              <h3>PROJECTS</h3>
              <ul>
                <li *ngFor="let project of developer.project">{{ project }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<jhi-footer></jhi-footer>
