<!--<div class="video-banner w-100 position-relative">-->
<!--  <video id="video" class="m-auto w-100 position-absolute" style="top: 50%; bottom: 50%" [muted]="'muted'" loop autoplay>-->
<!--    <source id="source" [src]="videoSrc[0]" type="video/mp4" />-->
<!--    Your browser does not support HTML video.-->
<!--  </video>-->
<!--  <div class="overlay-video">-->
<!--    <button class="change-video btn btn-lg m-2 btn-light border-0" (click)="changeVideo()">Switch</button>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid p-0" style="background-color: #f7f7f7">
  <div class="text-center position-relative pb-5">
    <img src="content/images/carousel1.jpg" alt="ville" class="w-100" />
    <div class="position-absolute w-100 text-white img-text">
      <h1 class="display-1 text-shadow">Hello team</h1>
      <h1 class="display-4 text-shadow">Jordan N, Mathieu C</h1>
    </div>
  </div>

  <div class="text-center py-5">
    <h1 class="font-weight-bold">SERVICES</h1>
    <span class="font-italic">Loren ipsum dolor sit amet consectetur</span>

    <div class="container px-0 py-5">
      <div class="row w-100 m-0">
        <div class="col-12 col-lg-4 pb-3" *ngFor="let item of items">
          <em class="fa-solid fa-droplet-slash"></em>
          <em class="fa-solid fa-droplet"></em>
          <em class="fa-solid fa-droplet-slash"></em>
          <div class="font-weight-bold">{{ item.title }}</div>
          <span>{{ item.text }}</span>
        </div>
      </div>
    </div>

    <h1 class="font-weight-bold pt-5">PORTFOLIO</h1>
    <span class="font-italic">Loren ipsum dolor sit amet consectetur</span>

    <div class="container px-0 pt-5">
      <div class="row w-100 m-0">
        <div class="col-6 col-lg-4 pb-3 pb-5" *ngFor="let item of photos">
          <div class="card border-0">
            <div class="card-header p-0">
              <div class="text-center position-relative">
                <img [src]="item.photo" alt="photo" class="w-100" />
                <div class="position-absolute w-100 img-text appear-hover d-flex align-items-center">
                  <div class="px-3 w-100">
                    <h5>{{ item.title }}</h5>
                    <span>{{ item.text }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h1>{{ item.title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pb-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4 class="pb-3">Latest News</h4>
        <ul class="timeline">
          <li *ngFor="let news of newsList" class="mt-0 mb-4 px-3">
            <div class="d-flex justify-content-between">
              <h5 class="mb-0">{{ news.title }}</h5>
              <h6 class="mb-0">{{ news.date }}</h6>
            </div>
            <p>{{ news.desc + news.desc }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center pb-5">
    <h1 class="font-weight-bold pt-5">Our amazing team</h1>
    <span class="font-italic">Loren ipsum dolor sit amet consectetur</span>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 pt-5">
          <div class="card card-no">
            <div class="card-header">
              <h4 class="font-weight-bold">Jordan Noël</h4>
              <div>Dev-ops</div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-center mt-auto">
                <ngb-rating
                  class="my-auto"
                  [(rate)]="rate"
                  [readonly]="true"
                  [max]="rate"
                  ngbTooltip="Best"
                  [openDelay]="300"
                  placement="right"
                >
                  <ng-template let-fill="fill">
                    <span class="star" [class.full]="fill === 100"> <span class="half" [style.width.%]="fill">&starf;</span>&starf; </span>
                  </ng-template>
                </ngb-rating>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 pt-5">
          <div class="card card-no">
            <div class="card-header">
              <h4 class="font-weight-bold">Mathieu Chaubet</h4>
              <div>Dev-ops</div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-center mt-auto">
                <ngb-rating
                  class="my-auto"
                  [(rate)]="rate"
                  [readonly]="true"
                  [max]="rate"
                  ngbTooltip="Best"
                  [openDelay]="300"
                  placement="right"
                >
                  <ng-template let-fill="fill">
                    <span class="star" [class.full]="fill === 100"> <span class="half" [style.width.%]="fill">&starf;</span>&starf; </span>
                  </ng-template>
                </ngb-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <section class="pb-5">
      <h1 class="h1-responsive font-weight-bold text-center my-5">Contact us</h1>

      <div class="d-flex justify-content-around pb-5">
        <div class="text-center icon-contact">
          <em class="fas fa-phone fa-3x pb-3"></em>
          <p style="font-size: 1.3rem">+ 01 234 567 89</p>
        </div>
        <div class="text-center icon-contact">
          <em class="fas fa-map-marker-alt fa-3x pb-3"></em>
          <p style="font-size: 1.3rem">San Francisco, CA 94126, USA</p>
        </div>
        <div class="text-center icon-contact">
          <em class="fas fa-envelope fa-3x pb-3"></em>
          <p style="font-size: 1.3rem">contact@us.com</p>
        </div>
      </div>

      <hr />
      <p class="text-center w-responsive mx-auto pt-4 mb-1">
        Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to
        help you.
      </p>

      <div class="row">
        <div class="col-12 mb-5">
          <form id="contact-form" name="contact-form">
            <div class="row pb-3">
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" id="name" name="name" class="form-control" />
                  <label for="name" class="">Your name</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" id="email" name="email" class="form-control" />
                  <label for="email" class="">Your email</label>
                </div>
              </div>
            </div>

            <div class="row pb-3">
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" id="subject" name="subject" class="form-control" />
                  <label for="subject" class="">Subject</label>
                </div>
              </div>
            </div>

            <div class="row pb-3">
              <div class="col-12">
                <div class="form-floating">
                  <textarea type="text" id="message" name="message" rows="2" class="form-control"></textarea>
                  <label for="message">Your message</label>
                </div>
              </div>
            </div>
          </form>

          <button class="btn btn-lg btn-secondary w-100">Send</button>
        </div>
      </div>
    </section>
  </div>
</div>
