<footer class="footer-area">
  <div class="footer-top">
    <div class="footer-container d-flex justify-content-between">
      <div class="about-widget">
        <h3 class="f-title">Download</h3>
        <ul class="list-unstyled f-list">
          <li><a>Company</a></li>
          <li><a>Android App</a></li>
          <li><a>iOS App</a></li>
          <li><a>Desktop</a></li>
          <li><a>Projects</a></li>
          <li><a>My tasks</a></li>
        </ul>
      </div>
      <div class="about-widget">
        <h3 class="f-title">Help</h3>
        <ul class="list-unstyled f-list">
          <li><a>FAQ</a></li>
          <li><a>Term &amp; conditions</a></li>
          <li><a>Reporting</a></li>
          <li><a>Documentation</a></li>
          <li><a>Support Policy</a></li>
          <li><a>Privacy</a></li>
        </ul>
      </div>
      <div class="social-widget">
        <h3 class="f-title">Team Solutions</h3>
        <div class="f-social-icon">
          <a class="fab fa-facebook"></a>
          <a class="fab fa-twitter"></a>
          <a class="fab fa-linkedin"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <p class="mb-0 f-400">© Juun Project 2023 All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>