@import '../../../../../../content/scss/theme.scss';

::placeholder {
  opacity: 0.9;
}

a {
  text-decoration: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #aaa;
}

.header-buttons-container {
  gap: 0.20rem;
}

.header-button {
  height: 40px;
  color: $color-shopping-tertiary;
  transition: all 0.2s ease;
  padding: 0.8rem;
  font-size: 1.2em;
  border-radius: 0.5rem;

  &:hover {
    background-color: #f5f5f5;
  }

}

.text-button-account {
  font-size: 0.8rem;
  font-weight: normal;
  user-select: none;
}

.login-button {
  width: 130px;
  border: solid 1px #5c7b9e;

  &:focus {
    background-color: red;
  }
}

.favorite-cart-button {
  width: 40px;
}

.search-box {
  position: relative;
  margin-inline: 0.5rem;
  width: 100%;
}

.search-input {
  height: 50px;
  padding: 0.5rem 5.5rem 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.2s ease;

  &:hover, &:focus {
    box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.08);
  }
}

.search-box button {
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
}

.search {
  padding: 4px 8px;
  right: 12px;
  top: 9px;
  color: #ffffff;
  background-color: $color-shopping-primary;
  border-radius: 50%;
  border: none;

  &:hover {
    background-color: $color-shopping-primary-dark;
  }
}

.clear {
  background: none;
  right: 56px;
  padding: 4px 12px 4px 4px;
  color: #000000;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid $color-shopping-border;
}

.category {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 16px;
  color: $color-shopping-primary-dark;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  white-space: nowrap;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3px;
    background-color: $color-shopping-primary-dark;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transform: translateY(100%);
    transition: transform .15s ease-out;
  }

  &:hover:after {
    transform: translateY(0);
  }
}

//.dropdown-content:hover .category:after {
//  transform: translateY(0);
//} // todo résoudre ce truc

.category-menu {
  display: flex;
  align-items: center;
  position: relative;
  //overflow-x: scroll;
  //white-space: nowrap;
  //&::-webkit-scrollbar {
  //  display: none;
  //} // todo gérer le scroll
}


//.scroll-btn {
//  display: none;
//  width: 30px;
//  height: 30px;
//  background-color: #ffffff;
//  opacity: 0.9;
//  color: #000000;
//  align-items: center;
//  justify-content: center;
//  position: absolute;
//  right: 0;
//  top: 0;
//  border-radius: 20px;
//  z-index: 200;
//  border: solid 1px #c1c1c1;
//}

@media (max-width: $responsive-shopping-2) {
  .category {
    padding: 8px 12px;
  }
}

@media (max-width: $responsive-shopping-3) {
  .category-menu {
    display: none;
  }
}

.dropdown-content {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 12px 16px;
  background-color: #ffffff;
  z-index: 1;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  height: 0;
  box-shadow: 0 0.6rem 1rem -0.1rem hsl(0deg 0% 60% / 50%);
  //transition-property: visibility, opacity; // todo remettre ?
  //transition-duration: .2s; // todo remettre ?
}

.custom-dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  height: auto;
  //transition: visibility 0s, opacity 0.15s ease-in-out; // todo remettre ?
}

.custom-dropdown-item {
  display: flex;
  align-items: center;

  padding: 8px 16px;
  color: $color-shopping-primary-dark;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  white-space: nowrap;
  gap: 1rem;

  &:hover {
    background-color: #f5f5f5;
  }
}

.div1 {
  grid-area: div1;
  justify-self: start;
}

.div2 {
  grid-area: div2;
  grid-column: 2 / span 1;
}

.div3 {
  grid-area: div3;
  justify-self: end;
}

.header-grid {
  display: grid;
  grid-template-areas: "div1 div2 div3";
  grid-template-columns: 1fr 4fr 1fr;
  gap: 0.5rem;
}

@media (max-width: $responsive-shopping-4) {
  .header-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "div1 div3"
      "div2 div2";
  }

  .div2 {
    grid-column: 1 / 3;
  }

}