<ul class="list-group overflow-auto border-bottom" style="max-height: 40vh">
  <li *ngFor="let item of shoppingCart" class="list-group-item px-2 bg-transparent">
    <div class="media w-100 d-flex justify-content-start">
      <img [src]="item.article.image" class="align-self-center me-3" width="50px" alt="article" />
      <div class="media-body w-100">
        <div class="d-flex justify-content-between">
          <h6 class="mt-0 pr-2">{{ item.article.name }}</h6>
          <div class="text-nowrap">
            <em class="fa-solid fa-minus cursor" (click)="removeArticle(item)"></em>
            <em class="fa-solid fa-plus cursor" (click)="addArticle(item)"></em>
          </div>
        </div>
        <div class="mb-0 d-flex justify-content-between">
          <span style="color: #3e8acc">{{ item.article.price }} €</span>
          <span style="color: #737373">Quantity : {{ item.quantity }}</span>
        </div>
      </div>
    </div>
  </li>
</ul>

<div *ngIf="!shoppingCart.length" class="py-3 px-2">You've got no item in your cart</div>

<div class="text-center py-2">
  <button class="btn btn-lg btn-dark" (click)="submit()">Checkout</button>
</div>
