@import '../../../../../content/scss/bootstrap-variables';

.title-container {
  background-image: url(../../../../../content/images/showcase/carousel1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    padding-block: 2rem;

    .title-1 {
      font-size: 70px;
    }
    .title-2 {
      font-size: 50px;
    }
  }
}

.img-text-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.img-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-shadow {
  text-shadow: 0 0 20px #000000;
}

@media screen and (max-device-width: 900px) {
  div h5 {
    font-size: 1.25rem !important;
  }
}

.photo-container {
  overflow: hidden;
  position: relative;

  .photo-cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &:hover {
    .photo-zoom {
      transform: scale(1.1);
      transition-timing-function: ease-in;
      transition-duration: 300ms;
      transition-property: all;
    }

    .photo-cover {
      opacity: 1;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    }
  }
}

.photo-zoom {
  transition: transform 0.3s ease-in;
}

.appear-hover {
  height: 100%;
  opacity: 0;
  transition: 300ms linear;

  div span {
    text-shadow: black 0.1em 0.1em 20em;
  }

  div h5 {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.2;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
}

// Timeline

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

@media screen and (max-device-width: 900px) {
  .icon-contact:hover {
    p {
      white-space: normal !important;
    }
  }

  p.contact-text,
  a.contact-text {
    font-size: 1rem !important;
  }
}
p.contact-text,
a.contact-text {
  font-size: 1.3rem;
}

.tel-num,
.address,
.mailto {
  text-decoration: none;
  color: black;
}

.card.card-no {
  background-color: transparent;
  border: transparent;

  .card-header {
    background-color: transparent;
    border: transparent;
  }

  .card-body {
    background-color: transparent;
    padding: 0;
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  color: #fff;
}

.full {
  color: $blue-dark-custom;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: $blue-dark-custom;
}
