<div class="restaurant pt-3 pb-3">
  <h1 class="text-center display-2 pb-2">Restaurant</h1>

  <div class="container pb-3 border-bottom">
    <div class="row w-100 m-0">
      <ng-container *ngFor="let card of cards">
        <div class="col-12 col-xl-6 pb-4">
          <div class="card h-100 p-4" style="border-radius: 5px">
            <div class="row no-gutters">
              <div class="col-12 col-lg-3 my-auto d-flex justify-content-center">
                <img class="img-fluid rounded mx-auto d-block" style="height: inherit" src="content/images/plat-recipe.png" alt="" />
              </div>
              <div class="col-12 col-lg-9 p-0">
                <div class="card-body pr-0">
                  <h1 class="card-title">Card one</h1>
                  <div class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                  <div class="card-text">Saumon, avocat, choux rouge, wakamé, concombre, edamamé, sésame, oignons frits</div>
                </div>
                <h5 class="card-footer py-0">15€</h5>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <h1 class="py-4 text-center display-1">Cocktail</h1>

  <div class="container">
    <div class="row">
      <div class="col-12 pb-4" jhiAnimation [animationType]="'fade-in'" [animationOutType]="'fade-out'">
        <div class="row card" style="border-radius: 5px; background: transparent">
          <div class="row no-gutters">
            <div class="col-12 col-lg-8 p-3 h-100 my-auto">
              <div class="card-header text-center">
                <h1>Pina Colada</h1>
              </div>
              <div class="card-body text-center">
                <div class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </div>
              <div class="card-footer text-center">Price</div>
            </div>
            <div class="col-12 col-lg-4">
              <img class="img-fluid mx-auto d-block" style="" src="content/images/cocktail-pina-colada.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 pb-4" jhiAnimation [animationType]="'fade-in'" [animationOutType]="'fade-out'">
        <div class="row card" style="border-radius: 5px; background: transparent">
          <div class="row no-gutters">
            <div class="col-12 col-lg-4">
              <img class="img-fluid mx-auto d-block" style="" src="content/images/cocktail-blue-lagoon.png" alt="" />
            </div>
            <div class="col-12 col-lg-8 p-3 h-100 my-auto">
              <div class="card-header text-center">
                <h1>Blue Lagoon</h1>
              </div>
              <div class="card-body text-center">
                <div class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </div>
              <div class="card-footer text-center">Price</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 pb-4" jhiAnimation [animationType]="'fade-in'" [animationOutType]="'fade-out'">
        <div class="row card" style="border-radius: 5px; background: transparent">
          <div class="row no-gutters">
            <div class="col-12 col-lg-8 p-3 h-100 my-auto">
              <div class="card-header text-center">
                <h1>Ice Pick</h1>
              </div>
              <div class="card-body text-center">
                <div class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="card-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
              </div>
              <div class="card-footer text-center">Price</div>
            </div>
            <div class="col-12 col-lg-4">
              <img class="img-fluid mx-auto d-block" style="" src="content/images/cocktail-ice-pick.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
