<div class="container">
  <h1 class="text-center my-4">Administration</h1>
  <div class="admin-grid">
    <a *ngFor="let data of adminData" [routerLink]="data.routeLink" class="card card-clickable" style="text-decoration: none">
      <div class="card-body text-center">
        <span jhiTranslate="{{ data.jhiTranslate }}">{{ data.label }}</span>
      </div>
    </a>

    <a *ngIf="openAPIEnabled" [routerLink]="'docs'" class="card card-clickable" style="text-decoration: none">
      <div class="card-body text-center">
        <span jhiTranslate="global.menu.admin.apidocs">API</span>
      </div>
    </a>
    <a *ngIf="!inProduction" href="h2-console" class="card card-clickable" style="text-decoration: none">
      <div class="card-body text-center">
        <span jhiTranslate="global.menu.admin.database">Database</span>
      </div>
    </a>
  </div>
</div>
