hr.hr-logo {
  height: 75px;
  width: 50%;
  border-color: #555273;
  margin: 75px auto 50px;
}

hr.hr-logo:after {
  content: '';
  background: white url(../../../content/images/logo.svg) no-repeat;
  background-size: 150px 150px;
  padding: 75px 75px;
}
