// ================ Constantes ================

$theme-primary: #28a745;
$background: #f5f7f8;
$color-formError: #f86c6b;

// =============== Balises HTML ===============

hr {
  width: 70%;
  margin: 75px auto 30px;
  color: #3ecc45;
}

.input-error.is-invalid {
  input {
    border-color: $color-formError;
  }
}

select-error.is-invalid {
  select {
    border-color: $color-formError;
  }
}

input::placeholder {
  /* Most modern browsers support this now. */
  color: #9a9a9a;
  font-weight: 300;
}

// ================= Classes ==================

@media (min-width: 768px) {
  .contenu {
    padding: 100px 150px;
  }
}

.contenu {
  background-color: $background;
  padding: 50px;
}

.titre-container {
  margin-bottom: 100px;
}

.titre {
  margin-bottom: 0 !important; // nsm
}

.bottom-buttons {
  text-align: right;
}

.bottom-buttons button {
  margin: 0.25rem;
}

.asterisque {
  color: $theme-primary;
}

table.table-prestations th {
  padding: 8px;
  background-color: $theme-primary;
  border: 1px solid #6b6b6b;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
}

table.table-prestations td {
  padding: 8px;
  background-color: #f5f5f5;
  border: 1px solid #6b6b6b;
  text-align: center;
}

table.table-prestations th:last-child,
table.table-prestations td:last-child {
  border: none;
  background-color: $background;
}

.inputNombre {
  text-align: right;
}

// ============= Override bootstrap =============

.form-control,
.form-select {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}
