// ================ Constantes ================

$theme-primary: hsl(231, 48%, 48%);
$theme-secondary: rgb(232, 150, 42);
$background-color: linear-gradient(230deg, #e8ecec, #8e9eab);
$container-color: rgb(250, 249, 250);

// =============== Balises HTML ===============

hr {
  width: 70%;
  margin: 40px auto 50px;
  color: $theme-primary;
}

input,
select,
option {
  font-weight: 300;
}

// ================= Classes ==================
.invoice {
  background: $background-color fixed center;
  background-size: cover;
  padding: 50px;
}

.contenu {
  box-shadow: -80px 80px 80px rgb(0 0 0 / 70%);
  background-color: $container-color;
  padding: 70px 70px;
  max-width: 1150px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: end;
  font-family: 'Calibri Light', Calibri;
}

.sous-partie {
  margin-top: 70px;
}

.titre {
  font-family: ABCNormal, Calibri;
  margin-bottom: 0 !important;
  font-weight: 300;
}

.asterisk {
  color: $theme-secondary;
}

input.inputNombre::-webkit-outer-spin-button,
input.inputNombre::-webkit-inner-spin-button {
  display: none;
}

input.inputNombre {
  -moz-appearance: textfield;
  text-align: right;
}

.draggable-element .drag-handle {
  cursor: grab;
}

.draggable-element.cdk-drag-preview .drag-handle {
  pointer-events: auto;
  cursor: grabbing;
}

::ng-deep .mat-form-field-suffix {
  top: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline:not(.mat-form-field-outline-thick) {
  color: rgba(0, 0, 0, 0.2);
}

.row-prestation:not(:last-child) {
  margin-bottom: 1rem;
}

// ============= Override bootstrap =============

.form-control,
.form-select {
  border: 1px solid #ced4da;
}

.form-control.is-invalid,
.form-select.is-invalid {
  border: 1px solid #dc3545;
}

div.ng-invalid {
  border-left: none;
}

.form-floating {
  width: 100%;
}

.currencyinput {
  border: 1px inset #ccc;
}

.currencyinput input {
  border: 0;
}

.inputs-prestation {
  flex-direction: row;
  width: 90%;
}

.name-prestation-column {
  width: 52%;
}

.quantity-prestation-column {
  width: 21%;
  padding: 0 1.5rem;
}

.price-prestation-column {
  width: 27%;
}

.price-prestation-input {
  width: calc(100% - 35px);
}

.actions-prestation {
  width: 10%;
  margin-top: 10px;
}

// ================ Responsive ================

@media (max-width: 1192px) {
  .row-prestation {
    align-items: center;
  }

  .inputs-prestation {
    width: 85%;
  }

  .name-prestation-column {
    width: 34%;
  }

  .quantity-prestation-column {
    width: 33%;
    padding: 0 1.5rem;
  }

  .price-prestation-column {
    width: 33%;
  }

  .actions-prestation {
    margin-top: 0;
    width: 15%;
  }
}

@media (max-width: 856px) {
  .row-prestation {
    flex-direction: row;
  }

  .name-prestation-column,
  .quantity-prestation-column,
  .price-prestation-column {
    width: 100%;
  }

  .quantity-prestation-column {
    padding: 10px 0;
  }

  .inputs-prestation {
    width: 80%;
    flex-direction: column;
  }

  .actions-prestation {
    margin-top: 0;
    width: 20%;
  }
}

@media (max-width: 768px) {
  .nom-numero-client {
    margin-bottom: 1rem;
  }

  .contenu {
    padding: 40px 20px;
  }

  .invoice {
    padding: 10px;
  }

  .bottom-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .numero-adresse,
  .nom-numero-client,
  .code-postal {
    margin-bottom: 10px;
  }
}
