// ================ Constantes ================

$theme-primary: rgb(241, 217, 188);
$theme-secondary: rgb(232, 150, 42);
$background-color: linear-gradient(to left, #e8ecec, #8e9eab);
$container-color: rgb(251, 249, 250);

// =============== Balises HTML ===============

hr {
  width: 70%;
  margin: 75px auto 30px;
  color: $theme-primary;
}

// ================= Classes ==================
.invoice {
  background: $background-color fixed center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .contenu {
    padding: 100px 150px;
  }
}

.contenu {
  box-shadow: -80px 80px 80px rgb(0 0 0 / 70%);
  background-color: $container-color;
  padding: 100px 100px;
}

.titre-container {
  margin-bottom: 100px;
}

.titre {
  font-family: 'Garamond', Calibri;
  margin-bottom: 0 !important;
}

.sous-titre {
  font-family: 'Garamond', Calibri;
  font-weight: 300;
  margin-bottom: 0 !important;
}

.asterisk {
  color: $theme-secondary;
}

// modifie la weight de la police dans les .form-control
input {
  font-weight: 300;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: end;
}

input.inputNombre::-webkit-outer-spin-button,
input.inputNombre::-webkit-inner-spin-button {
  display: none;
}

input.inputNombre {
  -moz-appearance: textfield;
  text-align: right;
}

.draggable-element .drag-handle {
  cursor: grab;
}

.draggable-element.cdk-drag-preview .drag-handle {
  pointer-events: auto;
  cursor: grabbing;
}

::ng-deep .mat-form-field-suffix {
  top: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline:not(.mat-form-field-outline-thick) {
  color: rgba(0, 0, 0, 0.2);
}

// ============= Override bootstrap =============

.form-control,
.form-select {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.ng-invalid,
.ng-valid {
  border-left: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.form-control.is-invalid:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ced4da;
}
