.management-app {
  background: url('~content/images/management-app.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.titre {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-radius: 6px;
}

.bottom-buttons {
  padding-top: 3rem;
  text-align: right;
}

.bottom-buttons button {
  margin: 0.25rem;
}

input,
select {
  font-weight: 300;
}

.btn {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.2);
}

.btn:active {
  transform: translateY(1px);
}

input,
select,
textarea {
  margin: 3px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

table.dataTable tbody td {
  vertical-align: middle;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*Le label*/
.container {
  font-weight: 300;
}

/*Le placeholder du select*/
.dropdown > select {
  font-weight: 300;
}

/*Les éléments du select*/
.dropdown > select > option {
  font-weight: 300;
}

//.my-card {
//  border: 1px solid #0097bb;
//  border-radius: 3px;
//  margin-top: 15px;
//}
//
//.my-card > .card-header {
//  font-weight: 300;
//  color: #fff;
//  background-color: #0097bb;
//  border: none;
//  text-align: center;
//  transition: background-color .2s ease-in-out
//}

//
//.card-body {
//  text-align: left;
//}
//

//.help-block {
//  display: block;
//  margin-left: 5px;
//  margin-bottom: 10px;
//  color: red;
//}
