<div class="container-sm contenu rounded my-5">
  <div class="titre-container d-flex justify-content-center">
    <em class="fa-solid fa-file-lines fa-4x text-success"></em>
    <h1 class="ms-4 align-self-center titre">Edition de facture</h1>
  </div>

  <form class="form-row" role="form" (ngSubmit)="genererFacture()" [formGroup]="invoiceForm">
    <h2 class="pb-3">Identification</h2>
    <div class="row justify-content-between mb-5">
      <div class="form-group col-5">
        <label for="numeroDossier" class="control-label">NUMERO DOSSIER<span class="asterisque">*</span></label>
        <input formControlName="numeroDossier" type="text" class="form-control" id="numeroDossier" maxlength="10" required />
      </div>

      <div class="form-group col-5">
        <label for="nomDossier" class="control-label">NOM DOSSIER<span class="asterisque">*</span></label>
        <input formControlName="nomDossier" type="text" class="form-control" id="nomDossier" maxlength="50" required />
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="form-group col-5">
        <label for="dateDebutFacturation" class="control-label">DATE DE DEBUT DE FACTURATION</label>
        <input
          formControlName="dateDebutFacturation"
          type="text"
          id="dateDebutFacturation"
          class="form-control date"
          maxlength="10"
          placeholder="JJ/MM/AAAA"
          pattern="(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d"
          title="JJ/MM/AAAA"
        />
      </div>
      <div class="form-group col-5">
        <label for="dateFinFacturation" class="control-label">DATE DE FIN DE FACTURATION</label>
        <input
          formControlName="dateFinFacturation"
          type="text"
          id="dateFinFacturation"
          class="form-control date"
          maxlength="10"
          placeholder="JJ/MM/AAAA"
          pattern="(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d"
          title="JJ/MM/AAAA"
        />
      </div>
    </div>

    <hr />

    <h2 class="pb-3">Adresse de facturation</h2>
    <div class="row">
      <div class="col-4">
        <label for="selectCountry">Pays<span class="asterisque">*</span></label>
      </div>
      <div class="dropdown col-8">
        <select id="selectCountry" class="form-control" required>
          <option *ngFor="let c of countries" [value]="c.id">{{ c.name }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="numeroAdresse">Numéro, extension<span class="asterisque">*</span></label>
      </div>
      <div class="col-2">
        <input formControlName="numeroAdresse" type="text" class="form-control" id="numeroAdresse" jhiNumbersOnly maxlength="4" required />
      </div>
      <div class="col-6">
        <input formControlName="extensionAdresse" type="text" class="form-control" id="extensionAdresse" maxlength="4" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="natureLibelleVoie">Nature et libellé de la voie<span class="asterisque">*</span></label>
      </div>
      <div class="col-8">
        <input formControlName="natureLibelleVoie" type="text" class="form-control" id="natureLibelleVoie" maxlength="100" required />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="complementLocalisation">Complément de localisation</label>
      </div>
      <div class="col-8">
        <input formControlName="complementLocalisation" type="text" class="form-control" id="complementLocalisation" maxlength="50" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="codePostal">Code postal, ville<span class="asterisque">*</span></label>
      </div>
      <div class="col-2">
        <input
          formControlName="codePostal"
          type="text"
          class="form-control"
          id="codePostal"
          jhiNumbersOnly
          maxlength="5"
          pattern="[0-9]{5}"
          required
        />
      </div>
      <div class="col-6">
        <input formControlName="ville" type="text" class="form-control" id="ville" maxlength="50" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="serviceDistributionComplement">Service de distribution, complément</label>
      </div>
      <div class="col-8">
        <input
          formControlName="serviceDistributionComplement"
          type="text"
          class="form-control"
          id="serviceDistributionComplement"
          maxlength="50"
        />
      </div>
    </div>

    <hr />

    <h2 class="pb-3">Prestations</h2>

    <hr />

    <div class="text-end">
      <button type="submit" class="btn btn-success text-white me-3">Impression</button>
    </div>
  </form>
</div>
