// =============== Balises HTML ===============

label {
  font-weight: 500;
}

input,
select,
option {
  font-weight: 300;
}

hr {
  width: 70%;
  margin: 75px auto 30px;
  color: #3ecc45;
}

// ================= Classes ==================

.contenu {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 100px 150px 50px;
}

.titre-container {
  margin-bottom: 100px;
}

.titre {
  margin-bottom: 0 !important; // nsm
}

.bottom-buttons {
  text-align: right;
}

.bottom-buttons button {
  margin: 0.25rem;
}

.asterisque {
  color: #3ecc45;
}

.input-error {
  display: block;
  margin-left: 5px;
  margin-bottom: 10px;
  color: red;
}

// ============= Override bootstrap =============

.form-control {
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
