.masonry-box {
  @media screen and (max-width: 500px) {
    column-count: 1;
  }
  @media screen and (max-width: 1200px) {
    column-count: 2;
  }
  @media screen and (min-width: 1200px) {
    column-count: 4;
  }

  column-gap: 10px;
}

.masonry {
  break-inside: avoid;
}

.masonry .card-header {
  background-color: rgba(0, 0, 0, 0.005);
  grid-row: 1 / -1;
  grid-column: 1;
}
