.header-container {
  font-family: ABCNormal, serif;
  background: linear-gradient(90deg, rgba(55, 55, 55, 1) 0%, rgba(37, 36, 41, 1) 50%, rgba(55, 55, 55, 1) 100%);
  color: hsl(161, 35%, 81%);
  position: relative;
}

.header {
  margin: 1vh 2vh;
  gap: 15px;
}

.back-to-home-link {
  font-size: 1rem;
  color: hsl(161, 35%, 81%);
  text-decoration: none;
  text-align: center;
  transition: color 0.2s;

  &:hover {
    color: hsl(165, 100%, 92%);
  }
}

.titre-showcase {
  font-size: 1rem;
  text-align: center;
}
