@import '../../../../content/scss/theme.scss';

.header-container {
  font-family: ABCNormal, serif;
  background: linear-gradient(90deg, rgba(60, 60, 60, 1) 0%, rgba(37, 36, 41, 1) 50%, rgba(60, 60, 60, 1) 100%);
  color: hsl(161, 35%, 81%);
  padding: 0.5rem 1rem;
}

.back-to-home-link {
  font-size: 1rem;
  color: hsl(161, 35%, 81%);
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: hsl(165, 100%, 92%);
  }

  div {
    margin-left: 0.75rem;
  }
}

.titre-showcase {
  font-size: 1rem;
  text-align: right;
}

.grid-1 {
  grid-area: grid-1;
  justify-self: start;
}

.grid-2 {
  grid-area: grid-2;
  grid-column: 2 / span 1;
}

.grid-3 {
  grid-area: grid-3;
  justify-self: end;
}

.header-grid {
  display: grid;
  grid-template-areas: "grid-1 grid-2 grid-3";
  grid-template-columns: 2fr 16fr 3fr;
  gap: 1rem;
}

.links-container {
  position: relative;
}

.route-button {
  display: flex;
  position: relative;
  min-height: 3rem;
  border-radius: 0.25rem;
  border: 2px solid $color-primary;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  background: inherit;
}

.active-route {
  display: flex;
  align-items: center;
  position: relative;
  color: $color-primary;
  transition: color 2s;
  margin-left: 0;
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  gap: 0.5rem;
}

.route-choices {
  position: absolute;
  display: block;
  flex-direction: column;
  width: 180px;
  background: linear-gradient(90deg, rgb(43, 43, 46) 0%, rgb(51, 51, 53) 100%);
  border-radius: 0.25rem;
  border: 2px solid $color-primary;
  list-style-type: none;
  margin-top: 0.25rem;
  box-sizing: border-box;
  z-index: 500;
  color: $color-primary;
}

.route-choice {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  width: 100%;

  min-height: 3rem;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  z-index: 500;

  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}

.showcase-link {
  padding: 0.5rem 1rem;
  font-weight: 300;
  text-decoration: none;
  color: $color-primary;
}

.selected-choice {
  background-color: $color-primary;
  color: $color-secondary;
}

@media (max-width: 770px) {
  .titre-showcase {
    display: none;
  }

  .grid-2, .links-container, .route-button, .route-choices  {
    width: 100%;
  }
}


@media (max-width: 500px) {
  .header-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "grid-1 grid-3"
      "grid-2 grid-2";
  }

  .grid-2 {
    grid-column: 1 / 3;
    justify-content: space-around;
  }
}

@media (max-width: 320px) {
  .back-to-home-link div {
    display: none;
  }
}


