<div class="d-flex flex-column h-100">
  <div class="header-container border-bottom">
    <div class="header d-flex flex-row align-items-center justify-content-between" style="gap: 15px">
      <a [routerLink]="''" class="back-to-home-link flex-grow-1 d-flex flew-row align-items-center">
        <em class="fa-solid fa-arrow-left"></em>
        <span style="margin-left: 1vh">Revenir à l'accueil</span>
      </a>
      <span class="titre-showcase">Ceci est un exemple de page que vous pourriez retrouver sur votre site.</span>
      <div class="d-flex flex-row align-items-center justify-content-end flex-grow-1" style="gap: 15px">
        <jhi-language-selection></jhi-language-selection>
        <jhi-contact></jhi-contact>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-grow-1 overflow-hidden">
    <jhi-sidenav (toggleSideNav)="toggleSideNav($event)"></jhi-sidenav>
    <div class="overflow-auto flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <jhi-sign-in></jhi-sign-in>
  </div>
</ng-template>
