@import '../../../../content/scss/theme.scss';

.header-container {
  font-family: ABCNormal, serif;
  background: linear-gradient(90deg, rgba(60, 60, 60, 1) 0%, rgba(37, 36, 41, 1) 50%, rgba(60, 60, 60, 1) 100%);
  color: hsl(161, 35%, 81%);
  padding: 0.5rem 1rem;
}

.back-to-home-link {
  font-size: 1rem;
  color: hsl(161, 35%, 81%);
  text-decoration: none;
  text-align: center;
  transition: color 0.2s;

  &:hover {
    color: hsl(165, 100%, 92%);
  }
}

.titre-showcase {
  font-size: 1rem;
  text-align: center;

}

.grid-1 {
  grid-area: grid-1;
  justify-self: start;
}

.grid-2 {
  grid-area: grid-2;
  grid-column: 2 / span 1;
}

.grid-3 {
  grid-area: grid-3;
  justify-self: end;
}

.header-grid {
  display: grid;
  grid-template-areas: "grid-1 grid-2 grid-3";
  grid-template-columns: 1fr 4fr 1fr;
  gap: 0.5rem;
}

@media (max-width: $respsonsive-showcase-1) {
  .header-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "grid-2 grid-2"
      "grid-1 grid-3";
  }

  .grid-2 {
    grid-column: 1 / 3;
  }
}

