<section id="policy-section" class="container">
  <header class="section-header">
    <h1 class="section-header-title text-center mb-5">
      La Politique de protection des données à caractère personnel
    </h1>
  </header>

  <div class="section-body">
    <p>La présente Charte a pour objectif d’informer les clients et prospects des conditions dans lesquelles <strong>{{ hostname }}</strong> collecte et traite leurs données à caractère personnel lorsqu’ils utilisent le site <strong>{{ hostname }}</strong></p>
    <ol class="main-ol">
      <li class="sub-title">Définitions
        <ol>
          <li>Données à caractère personnel : toute information relative à une personne identifiée ou qui peut être identifiée directement ou indirectement par référence à un identifiant tel que le nom, un numéro d’identification, une donnée de localisation, un identifiant en ligne.</li>
          <li>Cookie ou Cookies : fichier texte susceptible d’être enregistré dans un espace dédié du disque dur de votre Terminal (PC, tablette, téléphone portable) à l’occasion de la consultation de nos sites grâce à votre navigateur internet.</li>
          <li>Terminal : équipement matériel tel qu’un ordinateur, une tablette, un smartphone et plus généralement tout moyen de communication sur lequel un client ou un prospect possède un navigateur lui permettant de consulter un site Internet.</li>
        </ol>
      </li>
      <li class="sub-title">Protection des Données à caractère personnel
        <ol>
          <li>Modalités de collecte des Données à caractère personnel.</li>
          <li>Le responsable du traitement des données à caractère personnel est Mathieu Chaubet, mathieu.chaubet.travail@gmail.com</li>
          <li><strong>{{ hostname }}</strong> est susceptible de collecter des données à caractère personnel vous concernant lorsque vous remplissez les formulaires de collecte (formulaire de contact), vous vous inscrivez à notre newsletter pour recevoir notre lettre d’information.</li>
          <li>Nous utilisons votre courriel pour l'envoi d'une newsletter. La base juridique de ce traitement est votre consentement exprès. Nous recueillons votre consentement lors de la création de votre compte client à l'aide d'une case à cocher. Si vous ne souhaitez plus recevoir de prospection commerciale par courrier électronique vous pouvez à tout moment nous le faire savoir en cliquant sur le lien de désabonnement de chaque courriel et en nous envoyant un mail via : mathieu.chaubet.travail@gmail.com</li>
          <li>Le caractère obligatoire ou facultatif des réponses est indiqué dans les formulaires de collecte de vos Données à caractère personnel.</li>
          <li><strong>{{ hostname }}</strong> est susceptible de collecter des Données à caractère personnel vous concernant de manière indirecte par le biais de Cookies et/ou auprès de partenaires extérieurs ayant obtenu, en tant que de besoin, l’autorisation de votre part de les céder, les louer ou les échanger pour les finalités indiquées dans la présente Charte.</li>
          <li>Finalité du traitement des Données à caractère personnel Les Données à caractère personnel collectées font l’objet d’un traitement informatisé relatif à la gestion des clients et des prospects et à l’exécution de nos services mis en œuvre sous la responsabilité de <strong>{{ hostname }}</strong>.</li>
        </ol>
      </li>
      <li class="sub-title">Destinataires des Données à caractère personnel
        <ol>
          <li>Ont accès aux Données à caractère personnel que vous communiquez :
            <ul>
              <li>Les services internes de <strong>{{ hostname }}</strong></li>
              <li>Les prestataires techniques sous-traitants de <strong>{{ hostname }}</strong></li>
            </ul>
          </li>
        </ol>
      </li>
      <li class="sub-title">Droits reconnus aux personnes
        <ol>
          <li>En vertu de l'article 15 de la réglementation française et européenne relative à la protection des données à caractère personnel, vous disposez d’un droit d’accès aux données à caractère personnel vous concernant.</li>
          <li>En vertu de l'article 16 du RGPD, vous disposez également d’un droit de rectification des données personnelles vous concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est interdite. Vous pouvez par ailleurs vous opposer au traitement de vos données.</li>
          <li>En vertu de l'article 17 du RGPD, vous disposez également d’un droit de suppression (effacement) des données personnelles vous concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est interdite. Vous pouvez par ailleurs vous opposer au traitement de vos données.</li>
          <li>En vertu de l'article 18 du RGPD, vous disposez d'un droit à la limitation du traitement dans les cas où: - vous contestez l'exactitude des données - le traitement des données est illicite mais vous vous opposez à leur effacement - nous n'avons plus besoin de vos données mais celles-ci vous sont encore nécessaires pour la constatation, l'exercice ou la défense de vos droits en justice.</li>
          <li>En vertu de l'article 20 du RGPD vous disposez d'un droit à recevoir vos données dans un format structuré, couramment utilisé et lisible par machine (droit à la portabilité des données)</li>
          <li>En vertu de l'article 21 du RGPD, vous disposez d'un droit d'opposition au traitement des données.</li>
          <li>En vertu de l'article 77 du RGPD, vous disposez du droit d'introduire une réclamation auprès d'une autorité de contrôle</li>
          <li>Vous pouvez exercer vos droits, en justifiant de votre identité, en adressant une demande par courriel à : mathieu.chaubet.travail@gmail.com</li>
        </ol>
      </li>
      <li class="sub-title lh-base">Cookies
        <p>Dans le cadre de l’utilisation du site <strong>{{ hostname }}</strong>, des informations relatives à votre navigation sont, sous réserve de votre choix, susceptibles d’être enregistrées par l’intermédiaire d’un ou plusieurs Cookies. Vous pouvez à tout comment désactiver ces Cookies et ce gratuitement à partir des possibilités de désactivation qui vous sont offertes. Ces possibilités vous sont rappelées ci-après, sachant que cela peut réduire ou empêcher l’accessibilité aux services proposés par le site.</p>
        <p>Cookies utilisés - Le site <strong>{{ hostname }}</strong> et utilise les Cookies suivants :</p>
        <ol class="lh-base"> <!-- TODO Changer pour mettre en mode titre -->
          <li>Les Cookies fonctionnels - Ces Cookies sont indispensables à la navigation sur nos sites, à l’utilisation des principales fonctionnalités de nos sites et à la sécurisation de votre connexion. Ces Cookies permettent par exemple d’accéder directement à des espaces réservés et personnels de nos sites, grâce à des identifiants ou des données que vous nous avez éventuellement antérieurement confiées. Sans ces Cookies vous ne pourrez utiliser normalement le site.</li>
          <li>Les Cookies de fonctionnalité - Ces Cookies ne sont pas indispensables à la navigation sur notre site mais permettent d’optimiser son fonctionnement et de vous donner accès à des fonctionnalités spécifiques. Ces Cookies permettent également d’adapter la présentation de nos sites aux préférences d’affichage de votre Terminal. Ces Cookies vous permettent ainsi d’avoir une navigation fluide et sur mesure.</li>
          <li>Les Cookies de mesure d’audience - Ces Cookies nous permettent de connaître l’utilisation et les performances de notre site, d’établir des statistiques des volumes de fréquentation et d’utilisation des divers éléments de nos sites (contenus visités, parcours). Ces Cookies nous permettent d’améliorer l’intérêt et l’ergonomie de nos services.</li>
          <li>Les Cookies de partage des réseaux sociaux - est susceptible d’intégrer des boutons de partage des réseaux sociaux sur son site afin de vous permettre de partager des contenus avec d’autres personnes. Les acteurs fournissant ces boutons sont susceptibles de vous identifier et de suivre votre navigation sur nos sites même si vous n’avez pas cliqué sur l’un des boutons. Ces boutons peuvent générer des Cookies dont la présence, le nombre et le statut peuvent dépendre de votre utilisation des plateformes en question avant ou pendant votre visite sur notre site. <strong>{{ hostname }}</strong> n’a pas de contrôle sur l’usage de ces fonctionnalités par ces acteurs. Nous vous invitons à consulter les conditions d’utilisation de vos données sur ces réseaux sociaux propres à chaque acteur.</li>
          <li>Accepter ou refuser les Cookies - Vous pouvez accepter ou refuser le dépôt de cookies, à tout moment, en :
            <ul>
              <li>paramétrant votre navigateur pour désactiver ou accepter les Cookies</li>
              <li>paramétrant votre navigateur pour être averti des dépôts de cookies afin de pouvoir les accepter et les refuser de manière spécifique. Le refus des Cookies est susceptible de vous empêcher d’accéder à certaines fonctionnalités des Sites, <strong>{{ hostname }}</strong> ne garantissant plus l’accessibilité de l’intégralité des fonctions du Site.</li>
            </ul>
          </li>
        </ol>
      </li>
      <li class="sub-title">Sécurité et confidentialité des Données à caractère personnelle
        <p class="lh-base"><strong>{{ hostname }}</strong> s’engage à prendre toutes mesures qu’elle estime utiles et appropriées au regard de la nature des données, afin de garantir la sécurité et la confidentialité de vos données à caractère personnel et, notamment d’empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès.</p>
      </li>
    </ol>
  </div>
</section>
