<div class="footer" style="background-color: #171717; border-top: 1px solid white !important">
  <div class="row w-100 pt-3 pb-2 me-0 ms-0">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 my-auto" style="color: white">
      <div class="align-items-center">
        <h2 class="d-flex justify-content-center" jhiTranslate="global.title">Juun Project</h2>
        <div class="d-flex justify-content-center" jhiTranslate="footer.contactUs">Contactez-nous</div>
        <div class="d-flex justify-content-center" jhiTranslate="footer.ourTeam">Notre équipe</div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 border-start border-end text-center">
      <img class="img-fluid" style="max-height: 175px" src="../../../../content/images/logo-dark.png" alt="logo" />
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 my-auto" style="color: white">
      <div class="align-items-center">
        <h4 class="d-flex justify-content-center pb-2" jhiTranslate="footer.availablity">Nous sommes disponibles :</h4>
        <span class="d-flex justify-content-center" jhiTranslate="footer.availablity_1">Du lundi au vendredi 9h-20h</span>
        <span class="d-flex justify-content-center" jhiTranslate="footer.availablity_2">Le samedi 9h-12h / 14h-18h</span>
      </div>
    </div>
  </div>
  <!--  <div class="d-flex justify-content-center" style="color: white">-->
  <!--    <span class="pe-2">Privacy Policy </span>-->
  <!--    <span class="ps-2 pe-2 border-start border-end">Terms of Use</span>-->
  <!--    <span class="ps-2">Legal</span>-->
  <!--  </div>-->
  <span class="d-flex justify-content-center" style="color: white" jhiTranslate="footer.copyRight">Copyright</span>
</div>
