@import '../../../../../content/scss/theme.scss';

.header-container {
  background-color: #fff;
  padding: 1rem 0 0 0;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.main-container {
  background-color: $color-shopping-secondary;
}

.filter-and-items-container {
  gap: 2rem;
  padding-top: 0.75rem;
  height: auto;
}

.filter-container {
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem 0.1rem $color-shopping-shadow;
  background-color: white;
  height: fit-content;
}

.items-container {
  flex: 1;
  min-height: 800px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 1rem;
}

.price {
  font-size: 1rem;
  color: green;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.rating i {
  font-size: 1rem;
  color: goldenrod;
}

.description {
  font-size: 14px;
  padding: 1rem;
}

.fixed-filter-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 0.3rem 0.1rem $color-shopping-shadow;
  background: white;
  z-index: 100;
}

.fixed-filter-button {
  gap: 0.5rem;
}

.fixed-filter-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 1000;
  max-height: 100%;
  transition: all 0.3s;
  transform: translateY(0%);
}

.display-none {
  z-index: -1;
  max-height: 0;
  //transform: translateY(100%);
  //opacity: 0;
  transition: all 0.3s;
}

.fixed-filter-header {
  padding: 1rem;
  height: 50px;
  background-color: $color-shopping-primary;
  color: white;
}