@import '../../../../../content/scss/theme.scss';

.scrollable-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.fixed-filter-button-container {
  height: 54px;
  padding: 0.5rem 1.25rem;
  box-shadow: 0 0 0.3rem 0.1rem $color-shopping-shadow;
  z-index: 100;
}

.header-container {
  background-color: #fff;
  padding: 1rem 0 0 0;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.main-container {
  background-color: $color-shopping-secondary;
}

.filter-and-items-container {
  gap: 1.5rem;
  padding-top: 0.75rem;
  height: auto;
}

.filter-container {
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem 0.1rem $color-shopping-shadow;
  background-color: white;
  height: fit-content;
}

.items-container {
  flex: 1;
  min-height: 800px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 1rem;
}

.price {
  font-size: 1rem;
  color: green;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.rating i {
  font-size: 1rem;
  color: goldenrod;
}

.description {
  font-size: 14px;
  padding: 1rem;
}

.fixed-filter-button {
  gap: 0.5rem;
}

.fixed-filter-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 1000;
  transition: all 0.3s;
  opacity: 1;
  transform: translateY(0%);
}

.display-none {
  z-index: -1;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s;
}

.fixed-filter-header {
  padding: 0.75rem;
  height: 50px;
  background-color: $color-shopping-primary;
  color: white;
}

.close-filter-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: 0.2s;
  &:hover, &:active {
    background-color: $color-shopping-primary-dark;
  }
}

@media (max-width: $responsive-shopping-mobile) {
  .scrollable-content {
    height: calc(100% - 54px);
  }

  .filter-and-items-container {
    background-color: #fff;
    padding-top: 0;
  }
}