<div class="d-flex flex-column">
  <div class="header-container">
    <jhi-shopping-header></jhi-shopping-header>
  </div>
  <div class="main-container">
    <jhi-shopping-breadcrumb></jhi-shopping-breadcrumb>
    <div class="filter-and-items-container shopping-container d-flex flex-row">
      <div class="filter-container" style="background-color: white">
        <jhi-shopping-filter></jhi-shopping-filter>
      </div>
      <div class="items-container">
        <jhi-shopping-articles></jhi-shopping-articles>
      </div>
    </div>
    <jhi-shopping-footer></jhi-shopping-footer>
  </div>
</div>