@import '../../../../../../content/scss/theme.scss';

.articles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.article {
  position: relative;
  height: 480px;
  padding: 0 1rem 1rem 1rem;
  background-color: #fff;
  border-radius: 0.3rem;
  border: solid 1px $color-shopping-shadow;
  box-shadow: 0 0 0.3rem 0.1rem $color-shopping-shadow;
  transition: all 0.2s;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 0 1rem 0.1rem $color-shopping-shadow-dark;
  }
}

.article-body {
  gap: 0.75rem;
}

.price {
  font-weight: 500;
  font-size: 22px;
  font-family: Tahoma, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.description {
  color: #919191;
  font-size: 13px;
  line-height: 1.4em;
  height: 50px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-favorite {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: inherit;
  border: none;
  background-image: url(~content/images/showcase/shopping/web_heart_animation.png);
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.animate {
  animation: heart-burst .6s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media (max-width: $responsive-shopping-2) {
  .articles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: $responsive-shopping-4) {
  .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $responsive-shopping-5) {
  .articles-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .article {
    height: 460px;
  }
}