<div class="filters-container h-100">
  <div class="filter-content p-4">
    <div class="filter-title mb-4">Filtres</div>
    <div>
      <form [formGroup]="filtersForm">
        <jhi-shopping-filter-panel [title]="'Prix'">
          <div class="price-slider">
            <ngx-slider [(value)]="priceMin" [(highValue)]="priceMax" [options]="optionsSlideMontants"></ngx-slider>
          </div>
        </jhi-shopping-filter-panel>
        <jhi-shopping-filter-panel [title]="'Note'">
          <ul class="filter-list">
            <li *ngFor="let rating of ratings">
              <div class="checkbox">
                <input class="custom-checkbox" type="radio" [id]="'rating-checkbox_' + rating" [value]="rating" formControlName="rating" (click)="toggleRating(rating)">
                <label class="cursor d-flex align-items-center" [for]="'rating-checkbox_' + rating">
                  <span *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{'full-star': i <= rating, 'empty-star': i > rating}"></span>
                  <span *ngIf="rating !== 5" class="ms-2"> ({{rating}} et +)</span>
                  <span *ngIf="rating === 5" class="ms-2"> ({{rating}})</span>
                </label>
              </div>
            </li>
          </ul>
        </jhi-shopping-filter-panel>
        <jhi-shopping-filter-panel [title]="'Marques'">
          <ul class="filter-list" formArrayName="brands">
            <li *ngFor="let brand of brands; let i = index">
              <div class="checkbox">
                <input class="custom-checkbox" type="checkbox" [id]="'brand-checkbox_' + i" (change)="onBrandChange($event, brand)">
                <label class="cursor" [for]="'brand-checkbox_' + i">{{brand}}</label>
              </div>
            </li>
          </ul>
        </jhi-shopping-filter-panel>
        <jhi-shopping-filter-panel [title]="'Options de retrait'">
          <ul class="filter-list" formArrayName="deliveryOptions">
            <li *ngFor="let deliveryOption of deliveryOptions; let i = index">
              <div class="checkbox">
                <input class="custom-checkbox" type="checkbox" [id]="'delivery-option-checkbox_' + i" (change)="onDeliveryOptionChange($event, deliveryOption)">
                <label class="cursor" [for]="'delivery-option-checkbox_' + i">{{deliveryOption}}</label>
              </div>
            </li>
          </ul>
        </jhi-shopping-filter-panel>
      </form>
    </div>
  </div>
  <div class="bottom-buttons px-4 pt-2">
    <button class="btn blue-shopping-btn" (click)="applyFilters(false)">Appliquer les filtres</button>
    <button class="btn btn-reset" (click)="resetFilters()">Réinitialiser</button>
  </div>
</div>