@import 'content/scss/bootstrap-variables';

hr.hr-logo {
  color: #123455;
  width: 50%;
  margin: 75px auto 50px;
  overflow: inherit;
  background-color: black;
  height: 1px;
}

hr.hr-logo:after {
  content: '';
  background: $body-bg url(../../../../../content/images/logo/logo.svg) no-repeat;
  background-size: 150px 150px;
  padding: 75px 75px;
}

.card,
.card-header {
  border: 0;
  background-color: white;
}
