@import 'content/scss/theme.scss';

.modal-body {
  height: 75vh;
}

.btn-close:focus,
.btn-close:active {
  background-color: transparent;
  outline: none !important;
  box-shadow: none;
}

#buttons,
#inputs {
  gap: 10px;
}

.button--wayra {
  float: left;
  width: 150px;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.7em 0.3em;
  background: none;
  color: $color-primary;
  border: $color-primary;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid;
  overflow: hidden;
  -webkit-transition: border-color 0.5s, color 0.5s;
  transition: border-color 0.5s, color 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: $color-primary;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  }

  &:hover {
    color: $color-secondary;
    border-color: $color-primary;
  }

  &:hover::before {
    opacity: 1;
    background-color: $color-primary;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:focus {
    outline: none;
  }
}

.button--wayra > span {
  vertical-align: middle;
}

.number-question {
  font-size: 0.875em;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button-header {
  font-size: 40px;
}

.question-contact {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 400;
}

.button-contact {
  padding: 0.875rem;
  border-radius: 8px;
  background-color: $navbar-theme;
  color: white;
  transition: background-color 200ms ease;
  white-space: nowrap;
  font-size: 0.875em;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button-continue {
  width: max-content;
  margin-inline: auto;
}

.email-contact,
.input-contact {
  min-height: 3.25em;
  padding: 0.8em;
  border-radius: 16px;
  background-color: hsl(0deg 0% 90%);
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  vertical-align: middle;
  border: 1px solid #cccccc;
}

.textarea-contact {
  overflow-y: scroll;
  min-height: 7em;
  height: auto;
  padding: 0.8em;
  border-radius: 16px 0 0 16px;
  background-color: hsl(0deg 0% 90%);
  font-size: 14px;
  color: #333333;
  vertical-align: middle;
  border: 1px solid hsl(0deg 0% 80%);
}
