.btn-contact {
  font-weight: 500;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  border: 0;
  padding: 9px 17px;
  font-size: 20px;
  border-radius: 65px;
  box-shadow: 0 0 10px hsl(0deg 0% 100% / 44%);
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: 0 0 20px hsl(0deg 0% 100% / 44%);
  }

  .gradient-text {
    background-image: linear-gradient(to right, #e3e3e3, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.modal-body {
  height: 75vh;
}

.btn-close:focus,
.btn-close:active {
  background-color: transparent;
  outline: none !important;
  box-shadow: none;
}

#answers,
#inputs {
  gap: 10px;
}
