@import '../../../../content/scss/theme.scss';

.modal-body {
  height: 75vh;
}

.btn-close:focus,
.btn-close:active {
  background-color: transparent;
  outline: none !important;
  box-shadow: none;
}

#answers,
#inputs {
  gap: 10px;
}

.button--wayra {
  float: left;
  width: 150px;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.7em 0.3em;
  background: none;
  color: $color-primary;
  border: $color-primary;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid;
  overflow: hidden;
  -webkit-transition: border-color 0.5s, color 0.5s;
  transition: border-color 0.5s, color 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: $color-primary;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s, background-color 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  }

  &:hover {
    color: $color-secondary;
    border-color: $color-primary;
  }

  &:hover::before {
    opacity: 1;
    background-color: $color-primary;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:focus {
    outline: none;
  }
}

.button--wayra > span {
  vertical-align: middle;
}