@import '../../../../../../content/scss/theme.scss';

.shopping-breadcrumb {
  display: flex;

  padding: 0.8rem 0;
  gap: 0.3rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.breadcrumb-separator {
  user-select: none;
}

a {
  color: #222222;
  text-decoration: none;

  &:hover {
    text-decoration: underline #222222;
  }
}

.category-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.result-number {
  font-size: 1rem;
  font-weight: 400;
}

.breadcrumb-grid {
  display: grid;
  grid-template-areas: "grid-1 grid-2";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-1 {
  grid-area: grid-1;
  justify-self: start;
}

.grid-2 {
  grid-area: grid-2;
  justify-self: end;
}

.dropdown-toggle::after {
  display: none;
}

.sort-button {
  display: flex;
  position: relative;
  cursor: pointer;

  min-height: 3rem;
  border-radius: 0.25rem;
  border: 1px solid $color-shopping-border;
  text-align: left;
  padding: 0.25rem 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  background: #fff;

  .sort-button-title {
    font-size: 0.75rem;
    transition: font-size .5s;
    color: #8b91a1;
  }
}

.active-sort {
  display: flex;
  align-items: center;
  position: relative;
  color: #0c193a;
  transition: color 2s;
  margin-left: 0;
  font-size: 15px;
  padding: 0;
}

.sort-choices {
  width: 250px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid $color-shopping-border;
  margin-top: 0.25rem;
}

.sort-choice {
  display: flex;

  align-items: center;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  min-height: 3rem;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;

  cursor: pointer;
  z-index: 500;

  &:hover {
    background-color: #edf2f3;
    text-decoration: none;
    color: inherit;
  }
}

.selected-choice {
  font-weight: bold;
  background-color: #edf2f3;
}

@media (max-width: $responsive-shopping-mobile) {
  .sort-button {
    padding: 0.2rem 0.7rem 0.4rem;
    width: 190px;
  }

  .sort-choices {
    width: 190px;
  }
}

@media(max-width: 410px) {
  .breadcrumb-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "grid-1"
      "grid-2";
  }
}