@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: ABCNormal;
  src: url(~content/fonts/ABCNormal-Light.woff) format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: ABCNormal;
  src: url(~content/fonts/ABCNormal-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: ABCNormal;
  src: url(~content/fonts/ABCNormal-Medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: Blackout;
  src: url(~content/fonts/Blackout.otf) format('opentype');
  font-style: normal;
}
