// Pages principales
$color-primary: hsl(162, 35%, 81%);
$color-primary-transparent: hsla(162, 35%, 81%, 0.3);

$color-secondary: hsl(252, 7%, 15%);
$color-secondary-light: hsl(252, 7%, 20%);

$color-link-underline: hsl(245, 100%, 71%);

$color-border: hsl(0, 0%, 30%);

$color-footer: hsl(0, 0%, 9%);

// showcase
$respsonsive-showcase-1: 600px;

// Shopping
$color-shopping-primary: hsl(225, 53%, 46%);
$color-shopping-primary-dark: hsl(225, 53%, 40%);

$color-shopping-secondary: hsl(0, 0%, 98%);

$color-shopping-tertiary: hsl(212, 26%, 49%);

$color-shopping-border: hsl(223, 10%, 86%);
$color-shopping-border-light: hsl(0, 0%, 90%);

$color-shopping-shadow: hsl(0, 0%, 91%);
$color-shopping-shadow-dark: hsl(0, 0%, 85%);

$responsive-shopping-1: 1580px;
$responsive-shopping-2: 1390px;
$responsive-shopping-3: 1286px;
$responsive-shopping-4: 1100px;
$responsive-shopping-5: 904px;
