// Pages principales
$navbar-theme: hsl(252, 6%, 15%);

$color-primary: hsl(162, 35%, 81%);
$color-primary-light: hsl(162, 35%, 86%);
$color-primary-transparent: hsla(162, 35%, 81%, 0.3);

$color-secondary: hsl(252, 7%, 15%);
$color-secondary-light: hsl(252, 7%, 20%);

$color-link-underline: hsl(245, 100%, 71%);

$color-border: hsl(0, 0%, 30%);

$color-footer: hsl(0, 0%, 9%);

// Portfolio
$responsive-portfolio-5: 904px;

// Shopping
$color-shopping-primary: hsl(225, 53%, 46%);
$color-shopping-primary-dark: hsl(225, 53%, 40%);

$color-shopping-secondary: hsl(0, 0%, 97%);

$color-shopping-tertiary: hsl(212, 26%, 49%);

$color-shopping-border: hsl(223, 10%, 86%);
$color-shopping-border-light: hsl(0, 0%, 90%);

$color-shopping-shadow: hsl(0, 0%, 91%);
$color-shopping-shadow-dark: hsl(0, 0%, 85%);

$responsive-shopping-container: 1500px;
$responsive-shopping-category-menu: 1390px;
$responsive-shopping-category-menu-none: 1286px;
$responsive-shopping-mobile: 960px; // attention à modifier également dans shopping.component.html
$responsive-shopping-text-button-account-none: 904px;
$responsive-shopping-logo-small: 380px;
