$navbar-theme: #171717;

$button-color: hsla(0, 0%, 100%, 0.6);
$button-color-active: hsla(0, 0%, 100%, 0.8);

.sidenav {
  background: $navbar-theme;
  padding: 9px;

  gap: 5px;
}

.sidenav-item-link {
  display: flex;
  align-items: center;
  color: $button-color;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.2s ease;
}

.sidenav-item-icon {
  width: 40px;
  padding: 10px;
}

.sidenav-item-text {
  white-space: nowrap;
  padding-right: 10px;
}

.sidenav-item-link:not(.title):active,
.active {
  background: $button-color-active;
  * {
    color: #000;
  }
}
.sidenav-item-link:not(.title):hover {
  background: $button-color;
  * {
    color: #000;
  }
}

.sidenav-hr {
  border-bottom: solid white 1px;
}
