$navbar-theme: #171717;

$button-color: hsla(0, 0%, 100%, 0.6);
$button-color-active: hsla(0, 0%, 100%, 0.8);

.sidenav {
  background: $navbar-theme;
  padding: 15px 9px;

  gap: 10px;
}

.sidenav-item-link {
  display: flex;
  align-items: center;
  color: $button-color;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.2s ease;
  gap: 10px;
  padding: 0 10px;
}

.sidenav-item-icon {
  padding: 10px 0;
  width: 20px;
}

.sidenav-item-text {
  white-space: nowrap;
}

.sidenav-item-link:not(.title):active,
.sidenav-item-link:not(.title):hover,
.active {
  background: $button-color-active;
  * {
    color: #000;
  }
}

.sidenav-hr {
  border-bottom: solid white 1px;
}

.menu-toggle:hover {
  color: $button-color-active;
}
