<section id="legal-mentions-section" class="container">
  <header class="section-header">
    <h1 class="section-header-title text-center mb-5 text-uppercase">
      Mentions Légales
    </h1>
  </header>

  <div class="section-body">
    <h2>Informations légales</h2>
    <p>Ce site est publié par l'entreprise THE WOOD MAN, vente prêt à porter et accessoires au capital de 100 000,00€, immatriculée sous le numéro 88434355900016 dont le siège social est Au Bois d’Angers -Les Garennes sur Loire</p>
    <p><strong>Hébergeur </strong>: <span>L’hébergement du site est assuré par la société Shopify Inc dont le siège social est situé 126 York St. Ottawa, ON K1N 5T5, au Canada.</span><br><span>Numéro de téléphone : 1-888-746-7439</span></p>
    <p>Tous les éléments graphiques, la structure et, plus généralement, le contenu du site La-boiserie.fr sont protégés par le droit d'auteur, le droit des marques et le droit des dessins et modèles.</p>
    <p>Toute personne qui recueille ou télécharge du contenu ou des informations diffusées sur le site ne dispose sur ceux-ci que d’un droit d’usage privé, personnel et non transmissible.</p>
    <p>La reproduction d’une page du site dans un cadre extérieur à la-boiserie.fr ou l’insertion d’une page appartenant à la-boiserie.fr dans la page d’un autre site est interdite. De même, toute reproduction ou représentation du site en partie ou en totalité est interdite sans l'accord écrit de la-boiserie.fr et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la Propriété Intellectuelle.</p>
    <p>Les textes, graphismes, dessins, logos et photos qui sont diffusés la-boiserie.fr peuvent faire l'objet d'une reproduction sur un support papier ou un support électronique, sous réserve de citer le nom et l'adresse du site et de ne pas en faire une utilisation commerciale. Le non-respect des dispositions ci-dessus est susceptible de constituer une contrefaçon engageant la responsabilité civile ou pénale de l'auteur de la contrefaçon.</p>
    <p>La création d'un lien hypertexte vers le site https://www.la-boiserie.fr ne peut se faire qu’avec l’autorisation de la-boiserie.fr, et sous réserve qu'aucune confusion ne puisse exister dans l'esprit des internautes sur l'identité du site ou la provenance des informations.</p>
    <h2>Collecte et utilisation des données à caractère personnel</h2>
    <p>La collecte des données à caractère personnel pour les prestations proposées par le site https://www.la-boiserie.fr ainsi que leur traitement sont effectués dans le respect de la loi « Informatique, Fichiers et Libertés » du 6 janvier 1978 modifiée et ses décrets d’application.</p>
    <p>La collecte des données à caractère personnel concernant les utilisateurs du site la-boiserie.fr a pour finalités principales l’identification des utilisateurs pour la fourniture des services et prestations proposés sur le site.</p>
    <p>Les données récoltées ne sont jamais transmis à des tiers sauf si le client a donné son consentement préalable et ce sous réserve que les tiers se soient clairement engagés à respecter toutes les dispositions de la Loi du 6 janvier 1978 modifiée.</p>
    <p>En application de la loi, toute personne ayant transmis des données à caractère personnel dispose d’un droit d’accès, de rectification et de suppression des données ainsi que d’un droit d’opposition au traitement des données à caractère personnel la concernant. A tout moment, vous pouvez demander à exercer ce droit en contactant la-boiserie.fr</p>
    <p>Les visiteurs du site sont informés que pour les besoins de la navigation sur le site https://www.la-boiserie.fr , peut avoir recours à la collecte automatique de certaines informations relatives aux utilisateurs à l'aide des cookies. Si l'utilisateur du site ne souhaite pas l’utilisation de cookies par la-boiserie.fr, il peut refuser l’activation des cookies par le biais des options proposés par son navigateur internet. Pour des raisons techniques, si l'utilisateur désactive les cookies dans son navigateur, certaines prestations proposées sur le site https://www.la-boiserie.fr com pourront ne pas lui être accessibles.</p>
    <p>&nbsp;</p>
  </div>

</section>
